@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: white;
  box-sizing: border-box;
  background-color: rgb(21, 19, 19);
  min-height: 100vh;
}
